ul {
    padding-left: 0;
}
.anime {
    background: #ffffff;
    display: flex;
    margin: 20px 0;
    box-shadow: 0 0 5px #e0e0e0;
    gap: 30px;
    height: 200px;
    cursor: pointer;
    text-align: left;
    position: relative;
}
.anime img {
    width: 143px;
    object-fit: cover;
}
.animeInfo .title {
    font-size: 30px;
    font-weight: bold;
}
.animeInfo .info {
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.animeInfo .footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
